function safeecho() {
	if [[ $- =~ "i" ]]; then
		echo $@
	fi
}

function clearline() {
	if [[ $- =~ "i" ]]; then
		printf ' %.0s' {1..100}
		echo -ne "\r"
	fi
}

# Call this at the top of each file you source to track the initialization path
function printscriptlocation() {
	safeecho "Sourcing: $BASH_ARGV"
}
