function safeecho() {
	if [[ $- =~ "i" ]]; then
		echo $@
	fi
}

function clearline() {
	if [[ $- =~ "i" ]]; then
		printf ' %.0s' {1..100}
		echo -ne "\r"
	fi
}

# Call this at the top of each file you source to track the initialization path
function printscriptlocation() {
	if [[ $BASH_ARGV ]]; then
		safeecho "Sourcing: $BASH_ARGV"
	else
		# This doesn't work properly in zsh, it prints the location of the function, not the call
		safeecho "Sourcing: ${(%):-%x}"
	fi
}

printscriptlocation
