[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/pack/myfavs/start/ctrlp.vim"]
	path = .vim/pack/myfavs/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/myfavs/start/vaxe"]
	path = .vim/pack/myfavs/start/vaxe
	url = https://github.com/jdonaldson/vaxe
[submodule ".vim/pack/myfavs/start/vim-scala"]
	path = .vim/pack/myfavs/start/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/pack/myfavs/start/vc.vim"]
	path = .vim/pack/myfavs/start/vc.vim
	url = https://github.com/juneedahamed/vc.vim
