[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".vim/bundle/vc.vim"]
	path = .vim/bundle/vc.vim
	url = https://github.com/juneedahamed/vc.vim
